<div class="bottom-nav">

	<div class="bottom">
		
		<div>
			<img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" class="icon">
	
			<p>Home</p>
		</div>
		
		<div> <a href="/doubts">
			<img src="https://icons.veryicon.com/png/o/healthcate-medical/at-icon-library/interrogative-notes.png" class="icon">
	
			<p>Doubts</p></a>
		</div>
		
		
		<div>
			<img src="https://static.thenounproject.com/png/25759-200.png" class="icon">
	
			<p>Result</p>
		</div>
		
        <a href="/profile">	<div> 
			<img src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/person-profile-icon.png" class="icon">
	
			<p>Profile</p>
        
		</div>
    </a>
		
	</div>

</div>

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
	 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>

</body>
</html>
