<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizPoll - Test Yourself</title>
    <link rel="stylesheet" href="/css/admin.css" />

    <link
      href="https://fonts.maateen.me/solaiman-lipi/font.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main-container">
      <div class="top-nav"><h2>MISSION ISSB</h2></div>
      <div class="container">
        <div class="right-nav">
          <div class="category">
            <p><b>Dashboard</b></p>
            <p>
              <b><a href="/dashboard/iq_admin">Iq Test</a></b>
            </p>
            <p>
              <b><a href="/psychometrics_admin">Psychometrics</a></b>
            </p>
            <p>
              <b><a href="/practice_admin">Practice</a></b>
            </p>
            <p>
              <b><a href="/video_admin">Video Content</a></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
