
       <%- include('../partials/dashboard-nav.ejs') %>

       <div class="left-side">
          <div class="left-1">
            <h1>Welcome to Military Short Story Community</h1>
          </div>
        </div>
      </div>
    </div>
   
  </body>
</html>
