* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "SolaimanLipi", sans-serif !important;
}

html,
body {
  height: 100%;
}

.main-container {
  background-color: rgb(255, 255, 255);
}

.container {
  background-color: rgb(255, 255, 255);
}

.top-nav {
  background-color: rgb(44, 53, 53);
  height: 60px;
  color: white;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.right-nav {
  background-color: #1f1439;

  height: 100vh;
  padding: 10px 30px 10px 20px;
  font-size: 15px;
  color: white;
  position: fixed;
  top: 60px;
  left: 0px;
}

.right-nav p {
  padding: 5px 0px;
}

.left-side {
  margin-top: 70px;
  margin-left: 170px;

  height: fit-content;

  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.left-1 {
  margin: 10px 5px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 15px 10px;
}

.lname {
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(106, 106, 106);
  height: 40px;
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  outline: none;

  border-radius: 3px;
}

#button {
  padding: 10px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 40%;
  background: rgb(197, 255, 223);
  border: none;
  border-radius: 3px;
}

.explain {
  padding: 7px;
  background-color: rgb(197, 255, 223);
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
}

.qcontainer {
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  font-size: 14px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.category {
  color: white;
}
.category a {
  text-decoration: none;
  color: white;
}

#iqpic {
  width: 100%;
}
